#letter {
  display: none;
}

.name {
  font-size: 20px;
}

.letter-body {
    text-indent: 20px;
}

.p1 {
  padding-top: 50px;
}

.letter-hidden {
  margin-top: 100px;
}

h1 {
  font-family: sans-serif;
}
